.booking-history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.booking-history-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.booking-history-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    font-size: 1.2rem;
}

.booking-history-table th,
.booking-history-table td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

.booking-history-table th {
    background-color: #f2f2f2;
}

.booking-history-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.booking-history-table tr:hover {
    background-color: #ddd;
}

.booking-history-table td:first-child {
    text-transform: capitalize;
}

.filter-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter-container label {
    font-size: 1rem;
    margin-right: 5px;
}

.filter-container select {
    font-size: 1rem;
    padding: 3px;
}

@media only screen and (min-width: 768px) {
    .booking-history-container {
        margin: 40px 0;
    }

    .booking-history-table th:first-child {
        width: 50%;
    }
}

.filter-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.filter-container label {
    font-size: 1rem;
    margin-right: 5px;
}

.filter-container select {
    font-size: 1rem;
    padding: 3px;
    margin-right: 5px;
}

.filter-container button {
    padding: 5px 15px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.filter-container button:hover {
    background-color: #3e8e41;
}

.no-booking {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-container label {
    font-size: 1rem;
    margin-right: 5px;
}

.filter-container select {
    font-size: 1rem;
    padding: 3px;
    margin-right: 10px;
}

/* Styles for pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #f2f2f2;
    border: none;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin: 2px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #4caf50;
    color: white;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.booking-history-table th:nth-child(3),
.booking-history-table td:nth-child(3),
.booking-history-table th:nth-child(2),
.booking-history-table td:nth-child(2) {
  width: 20%;
}