.form-container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 2rem;
    max-width: 370px;
    margin: auto;
    height: 80vh;
    margin-bottom: 90px;
    margin-top: 150px;
    background-color: white;
  }
  
  .background-image-form {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://images.unsplash.com/photo-1610614819513-58e34989848b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    background-size: cover;
    background-position: center;
    opacity: 1.0;
    height: 60vh;
    z-index: -1;
    
  }
  
  .form-container-form h2 {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .image-container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  
  .form-container-form h2 {
    position: relative;
    bottom: 50px;
  }
  .form-container-form span {
    opacity: 0.7;
    position: relative;
    bottom: 60px;
    color: grey;
    text-align: left;
  }
  .form-container-form form {
    opacity: 0.9;
    
  }
  .image-container-form img {
    max-width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 60%;
  }
  
  .form-container-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
  }
  
  .form-container-form form label {
    font-weight: bold;
  }
  
  .form-container-form form .email {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    outline: none;
    position: relative;
    bottom: 50px;
  }
  
  .form-container-form button {
    padding: 0.5rem 1rem;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    max-width: 150px;
    margin-left: 79px;
    position: relative;
    bottom: 30px;
  }
  
  .form-container-form button:hover {
    background-color: #0069d9;
  }
  