.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    width: 500px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-row {
    margin-bottom: 10px;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  select,
  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .book-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .book-button:hover {
    background-color: #4CAF50; /* Change background color */
    color: white; /* Change text color */
  }
  
  .book-button:hover::before {
    content: "\279C"; /* Add arrow symbol after text */
    margin-left: 5px;
  }
  
  .book-button:hover::after {
    content: "Now"; /* Change text before arrow */
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }
  
  .confirmation-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .confirmation-popup-inner {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    width: 400px;
  }
  
  .confirmation-popup-header {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .confirmation-popup-message {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .confirmation-popup-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .confirmation-popup-icon svg {
    width: 60px;
    height: 60px;
    fill: #4CAF50;
  }
  
  .confirmation-popup-button {
    display: block;
    margin: auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .confirmation-popup-button:hover {
    background-color: #3e8e41;
  }
  
  .confirmation-popup-button:focus {
    outline: none;
  }
  