.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-fields-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    padding: 50px;
    max-width: 500px; /* add max-width property */
    width: 100%; /* add width property */
}

.profile-details-field {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.profile-details-field-label {
    font-weight: bold;
    margin-right: 10px;
}

.profile-details-field-value input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.profile-save-button {
    padding: 10px 20px;
    background-color:  #f18007;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.profile-save-button:hover {
    background-color: #11e20d;
}
