.home-page {
    position: relative;
    height: 100vh;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://images.pexels.com/photos/2271107/pexels-photo-2271107.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: 0.5; */
    height: 50vh;

}



.centered-text {

    position: absolute;

    top: 40%;

    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;

    color: white;

    font-weight: 900;

}