.signup-form {
    max-width: 400px;
    margin: 0px auto 0;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    bottom: 45vh;
   
}
span{
    text-align: right;
    color: orange;
    padding-bottom:10px;
    font-weight: bold;
    font-size: 12.5px;

}
.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;

}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}



#password {
    color: grey;
}

input ::placeholder {
    opacity: 0.5;
}