.review-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .review-popup {
    position: relative;
    background-color: #fff;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .review-popup-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  .review-popup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .review-popup select,
  .review-popup textarea {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .review-popup button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .review-popup .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
  }
  
  .review-popup .close-button:hover {
    color: #ff0000;
  }
  
  .review-popup-big {
    width: 700px;
  }
  
  .review-popup-big .review-popup {
    width: 600px;
    padding: 40px;
  }
  
  .review-popup-small {
    width: 300px;
  }
  
  .review-popup-small .review-popup-message {
    width: 200px;
    padding: 20px;
  }
  